<h1 class="alert alert-primary text-center">rxjs-basil works!</h1>
<!-- creation_operators -->
<div class="nav d-flex creation_operators">
    <h2>creation_operators</h2>
    <button mat-raised-button color="primary" (click)="from_()">From</button>
    <button mat-raised-button color="primary" (click)="of_()">Of</button>
    <button mat-raised-button color="primary" (click)="interval_()">Interval</button>
    <button mat-raised-button color="primary" (click)="range_()">Range</button>
</div>
<mat-divider></mat-divider>
<!-- utilities_operators -->
<div class="nav d-flex utilities_operators">
    <h2>utilities_operators</h2>
    <button mat-raised-button color="warn" (click)="tap_()">Tap</button>
    <button mat-raised-button color="warn" (click)="delay_()">Delay</button>
    <button mat-raised-button color="warn" (click)="every_()">Every</button>
    <button mat-raised-button color="warn" (click)="isEmpty_()">IsEmpty</button>
</div>
<mat-divider></mat-divider>
<!-- filtering_operators_single -->
<div class="nav d-flex filtering_operators_single">
    <h2>filtering_operators_single</h2>
    <button mat-raised-button color="accent" (click)="first_()">First</button>
    <button mat-raised-button color="accent" (click)="last_()">Last</button>
    <button mat-raised-button color="accent" (click)="min_()">Min</button>
    <button mat-raised-button color="accent" (click)="max_()">Max</button>
    <button mat-raised-button color="accent" (click)="find_()">Find</button>
    <button mat-raised-button color="accent" (click)="findIndex_()">FindIndex</button>
    <button mat-raised-button color="accent" (click)="elementAt_()">ElementAt</button>
</div>
<mat-divider></mat-divider>
<!-- filtering_operators_multiple -->
<div class="nav d-flex filtering_operators_multiple">
    <h2>filtering_operators_multiple</h2>
    <button mat-raised-button color="accent" (click)="take_()">Take</button>
    <button mat-raised-button color="accent" (click)="takeLast_()">TakeLast</button>
    <button mat-raised-button color="accent" (click)="takeUntil_()">TakeUntil</button>
    <button mat-raised-button color="accent" (click)="takeWhile_()">TakeWhile</button>
</div>