<h2 class="alert alert-light text-center">translate works!</h2>
<!-- <h3>{{ 'HOME' | translate }}</h3> -->
<!-- old -->
<!-- <button mat-raised-button (click)="translate.use('en')" color="accent">English</button> -->
<!-- <button mat-raised-button (click)="translate.use('ar')" color="primary">Arabic</button> -->
<!-- new -->
<button mat-raised-button (click)="changeLanguage('en')" color="accent">English</button>
<button mat-raised-button (click)="changeLanguage('ar')" color="primary">Arabic</button>
<hr>
<div>
    <!-- <h2>{{ loginBy[translate.currentLanguage] }}</h2> -->
</div>