<h1 class="alert alert-success text-center">rxjs</h1>

<div class="nav container">
    <a routerLinkActive="active_router" routerLink="rxjsteddy">RxJs-Teddy</a> |
    <a routerLinkActive="active_router" routerLink="rxjsbasil">RxJs-Basil</a> |
</div>
<div>
    <router-outlet>
    </router-outlet>
</div>
<!-- <table>
    <thead>
        <th> </th>
        <th> Single </th>
        <th> Multiple </th>
    </thead>
    <tbody>
        <tr>
            <td>
                pull
            </td>
            <td>
                function
            </td>
            <td>
                iterator
            </td>
        </tr>
        <tr>
            <td>
                push
            </td>
            <td>
                promise
            </td>
            <td>
                observable
            </td>
        </tr>
    </tbody>
</table> -->

<!--  -->