<h3>rxjs</h3>
<table>
    <thead>
        <th> </th>
        <th> Single </th>
        <th> Multiple </th>
    </thead>
    <tbody>
        <tr>
            <td>
                pull
            </td>
            <td>
                function
            </td>
            <td>
                iterator
            </td>
        </tr>
        <tr>
            <td>
                push
            </td>
            <td>
                promise
            </td>
            <td>
                observable
            </td>
        </tr>
    </tbody>
</table>

<!--  -->